body {
    @apply bg-[#2C2D2D];
}

main {
    @apply flex h-[100vh] w-full justify-center items-center;
}

.project-counter button,
.project-counter .counter {
    @apply rounded-full w-[60px] h-[60px] flex items-center justify-center;
}

.project-counter button {
    @apply transition-all duration-200 ease-out cursor-pointer text-[23px] hover:bg-[#222222];
}

.project-counter .counter {
    @apply bg-[#3B3A3A] font-bold;
}
